a,
a:hover{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
h1{
    font-family: 'Raleway', sans-serif;
}
/*********** Header *************/

header{
    box-shadow: 0px 7px 10px rgba(204, 204, 204, 0.45);
    padding-bottom: 15px;
    position: relative;
    z-index: 999;
}
.logo{
    width: 240px;
    float: left;
    margin-top: 30px;
}
.logo img{
    max-width: 100%;
}
.right_contact_menu{
    float: right;
}
.top_contact{
    position: absolute;
    right: 30px;
    top: 10px;
}
.top_contact span{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #838383;
    color: #fff;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
    font-size: 20px;
}
.top_contact a{
    line-height: 50px;
    font-size: 18px;
    color: #6c6c6c;
    margin-right: 10px;
}
.top_contact a:last-child{
    margin-right: 0px;
}
.top_contact a:hover{
    text-decoration: none;
    color: #0995d4;
}
.main_menu{
    text-transform: uppercase;
    margin-top: 85px;
}
.main_menu ul{
    padding-left: 0;
}
.main_menu ul li{
    display: inline-block;
}
.main_menu ul li a{
    padding: 10px 15px;
    color: #0995d4;
}
.nav_triger{
    display: none;
}
.active,
.main_menu ul li a:hover{
    background: #0995d4;
    color: #fff;
}
.main_menu ul li a.active{
    color: #fff !important;
}

/********** Banner ************/

.banner{
    background: url('../images/slid_1.jpg') center no-repeat;
    height: 550px;
    position: relative;
    background-size: cover;
}
.banner .caption{
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 210px;
}
.banner .caption h3{
    font-size: 40.5px;
    font-weight: 900px;
    margin: 0;
    /*letter-spacing: 6px;*/
}
.banner .caption h2{
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 8px;
}
.banner .caption h5{
    font-size: 23px;
    font-weight: 600px;
    margin: 0;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.banner .service_menu{
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(15, 42, 83, 0.8);
    height: 100%;
    z-index: 12;
    overflow-y: scroll;
}
.banner .service_menu ul{
    padding: 0px 30px;
}
.banner .service_menu ul li{
    list-style: none;
}
.banner .service_menu ul li a{
    padding: 15px 0px;
    display: block;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.banner .service_menu .bar_parent span{
    position: fixed;
    color: #fff;
    height: 100%;
    /*background: #a90000;*/
    background: #fff;
    width: 20px;
    cursor: pointer;
    top: 0;
}/*
.banner .service_menu .bar_parent span:before{
    content:"\e079";
    color: #000;
    position: absolute;
    z-index: 0;
    bottom: 50%;
    left: 3px;
    font-size: 18px;
}*/
.banner .service_menu .bar_parent{
    position: relative;
}
.banner .service_menu .bar_parent span i{
    color: #000;
    position: absolute;
    /* bottom: 50%; */
    top: 45%;
    font-size: 20px;
    right: -79px;
    width: auto;
    transform: rotate(90deg);
    transform-origin: left top 0;
}


/************** Home About Streamline ***************/

.streamline_cont{
    background: #fff url('../images/stream_plan.jpg') no-repeat;
    background-size: 65%;
    position: relative;
    padding: 35px 0px;
    background-position-x: -60px;
    background-attachment: fixed;
    z-index: 99;
}
.streamline_cont .content_box{
    width: 60%;/*
    position: absolute;*/
    right: 0;
    float: right;
    background: rgba(11, 137, 214, 0.8);
    padding: 20px;
    margin-top: 30px;
}
.streamline_cont .content_box .we_are{
    border: 1px solid #fff;
    padding: 25px;
    color: #fff;
}
.streamline_cont .content_box .we_are h1{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}
.streamline_cont .content_box .we_are p{
    
}

/******* Let's Grow  ( Training & Developmet ) **************/

.let_grow{
    background: url('../images/training_bg.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
    color: #fff;
    position: relative;
    z-index: 99;
}
.training_ads{
   margin-top: 150px;
}
.let_grow h1{
    font-size: 34px;
    font-family: 'Raleway', sans-serif;
    margin: 15px 0px;
    
}
.let_grow p{
    text-transform: uppercase;
}
.let_grow a{
    padding: 10px 25px;
    border-radius: 20px;
    background: #fff;
    color: #000;
    display: inline-block;
}

/******** Home Our Portfolio ************/

.our_portfolio{
   padding: 30px 0px;
    position: relative;
    z-index: 99;
    background: #fff;
}
.portfolio_gallery{
}
.demo-gallery{
    display: inline-block;
}
.portfolio_gallery .portfolio_head{
    background: url('../images/line.png') center no-repeat;
    text-align: center;
    margin-bottom: 30px;
}
.portfolio_gallery h1{
    font-size: 28px;
    background: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin: 20px 0px;
    padding: 0px 15px;
}
.portfolio_gallery .gallery_box{
    margin-bottom: 30px;
    position: relative;    
    overflow: hidden;
    height: 200px;
}
.portfolio_gallery .gallery_box img{
    max-width: 100%;
    width: 355px;
    height: 210px;
}
.portfolio_gallery .gallery_box a{
    display: block;
    overflow: hidden;
    border-radius: 10px;
}
.portfolio_gallery .gallery_box .overlay{
    position: absolute;
    top: 0;
    border-radius: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.portfolio_gallery .gallery_box .overlay span{
    display: block;
}
.portfolio_gallery .gallery_box a:hover .overlay{
    opacity: 1;
}
.lg-download{
    display: none;
}
.portfolio_gallery .gallery_box .overlay h3{
    margin-top: 80px;
    font-size: 20px;
    text-transform: uppercase;
}
.portfolio_gallery .gallery_box img{
    
}
.portfolio_button{
}
.portfolio_button a{
    padding: 10px 35px;
    border-radius: 10px;
    background: #2b98db;
    color: #fff;
    display: block;
    width: 130px;
    margin: 0 auto;
}

/******** Career Opening **********/

.career_openiings{
    background: url('../images/career-in-engineering-suit-me.jpg') center no-repeat;
    background-size: cover;
     background-attachment: fixed;
    height: 350px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 99;
}
.career_ads{
    float: right;
    margin-top: 80px;
    margin-right: 180px;
}
.career_ads h1{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
}
.career_ads h3{
    margin-bottom: 15px;;
    font-size: 28px;
}
.career_ads a{
    padding: 10px 35px;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    float: right;
    transition-duration: 0.6s;
}
.career_ads a:hover{
    background: #fff;
    color: #000;
    transition-duration: 0.6s;
}

/********** Footer ***********/

footer{
    padding-top: 30px;
    position: relative;
    z-index: 99;
    background: #fff;
}
.footer_menu{
    text-align: center;
}
.footer_menu ul{
    
}
.footer_menu ul li{
    display: inline-block;
}
.footer_menu ul li a{
    padding: 8px 15px;
    color: #6c6c6c;
    text-transform: uppercase;
}
.footer_menu ul li a:hover{
    color: #000;
}
.foot_logo{
    width: 240px;
    margin-top: 30px;
}
.foot_logo img{
    max-width: 100%;
}
.foot_content{
    padding: 30px 0px;
}
.foot_adrs{
    float: right;
}
.foot_adrs p{
    line-height: 25px;
    color: #6c6c6c;
}
.foot_adrs p a{
    color: #6c6c6c;
}
.foot_adrs p a:hover{
    color: #000;
}
.social_media{
    float: right;
    margin-top: 25px;
}
.social_media a{
    color: #6c6c6c;
}
.social_media a span{
    margin: 0px 8px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #6c6c6c;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    transition-duration: 0.6s;
}
.social_media a:hover span{
    background: #000;
    border: none;
    color: #fff;
    transition-duration: 0.6s;
}
/*********** Copyrights ********/

.copyright{
    border-top: 1px solid #6c6c6c;
}
.copy{
    float: left;
}
.copy p{
   line-height: 50px; 
}
.powered{
    float: right;
    line-height: 50px;
}
.powered span{
    padding-right: 8px;
}


/****** Nav Triger *******/

/* Icon 2 */

#nav-icon2 {
  width: 35px;
  height: 20px;
  position: relative;
  margin: 5px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #0e2343;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 8px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 16px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 2px;
    top: 17px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 1px);
    top: 17px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}


.service_button{
    display: none;
    background: #ccc;    
    position: absolute;
    padding: 8px 20px;
    z-index: 10;
    top: 0;
    width: 100%;
}


/*********** About Page ************/

.about_part{
    /*background: url('../images/about_bg.jpg') no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
}
.about_streamline{
    
}
.about_part .content_box{
    display: inline-block;
    background: url('../images/streamline.jpg') center no-repeat;
    padding: 30px 0px;
    background-size: cover;
}

.about_part .content_box .about_img{
    width: 48%;
    float: left;
}
.about_part .content_box .about_img img{
    max-width: 100%;
}
.about_part  .content_box .boder{
    /*width: 50%;*/
    padding: 30px;
    background: #f4f4f4;
    float: right;
    margin-right: 20px;
}
.about_streamline .we_are{
   /* margin: 0 auto;*/
    background: #fff;
    padding: 35px 30px;
    border: 3px solid rgba(15, 42, 83, 0.95);
}
/*.about_streamline .we_are:before{
    border: 3px solid #fff;
     width: 100%;
    content: ""; 
    position: absolute; 
    top: -10px; 
    bottom: -10px; 
    left: -10px; 
    right: -10px; 
}*/
.about_streamline .we_are h1{
    color: rgba(15, 42, 83, 0.95);
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
}
.about_streamline .we_are p{
    line-height: 25px;
    color: rgba(15, 42, 83, 0.95);
}
.about_streamline .we_are ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
.about_streamline .we_are ul li{
    line-height: 28px;
    color: #4c4c4c;
    display: flex;
    padding-right: 10px;
}
.about_streamline .we_are ul li:before{
    content:'\2219'; 
    font-size:100px; 
    line-height:24px; 
    vertical-align:middle;
}
.mission_part{
    padding: 30px 0px;
    background: #272727;
}
.mission{
    width: 100%;
   /* background: rgba(9, 149, 212, 0.95);*/
    float: left;
    padding: 20px 30px;
    color: #fff;
}
.vision{
    width: 100%;
    /*background: rgba(9, 149, 212, 0.95);*/
    float: left;
    padding: 20px 30px;
    color: #fff;
}
.vision h1{
    font-size: 26px;
}
.mission h1{
    font-size: 26px;
}
.head_page{
    text-align: center;
    background: url('../images/Oakland_Bay_Bridge_Western_Part.jpg')center no-repeat;
    background-size: cover;
   /* background-attachment: fixed;*/
    height: 250px;
}
.head_page h2{
    color: #fff;
    text-transform: uppercase;
    margin-top: 80px;
}

/*********** Services Page *************/

.service_part{
    background: #ececec;
    box-shadow: 0px 4px 10px #ccc;
    padding-bottom: 30px;
}
.services_box{
    margin: 20px 0px;
    box-shadow: 12px 0 16px -17px rgba(204, 204, 204, 0.8), -9px 0 8px -10px rgba(204, 204, 204, 0.8);
    transition-duration: 0.9s;
}
.services_box:hover{
   /* position: absolute;
    top: -15px;*/
    margin-top: 15px;
    transition-duration: 0.9s;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.service_bx_img{
    
}
.service_bx_img img{
    max-width: 100%;
    position: relative;
    display: block;
}
.service_cont_bx{
    background: #fff;
    width: 100%;
   /* border: 1px solid #ccc;*/
    padding: 25px 20px;
    margin: 0 auto;
}
.service_cont_bx h3{
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}
.service_cont_bx p{
    color: #6c6c6c;
}


/******* Portfolio Page **********/

.portfolio_part{
    background: #ececec;
    padding-bottom: 30px;
    box-shadow: 0px 4px 10px #ccc;
}


/******** Contact Us Page **********/

.contact_part{
    background: #fff;
    padding-bottom: 30px;
    box-shadow: 0px 4px 10px #ccc;
}
.contact_information{
    padding-top: 30px;
}
.contact_information .adrs{
    text-align: center;
}
.contact_information .adrs p{
    line-height: 35px;
    font-size: 20px;
    text-align: center;
}
.contact_information .adrs span{
    text-align: center;
    font-size: 24px;
    width: 70px;
    height: 70px;
    background: #fff;
    border: 1px solid #0f2951;
    color: #0f2951;
    text-align: center;
    display: inline-block;
    line-height: 70px;
    border-radius: 50px;
    transition-duration: 0.6s;
}
.contact_information .adrs:hover span{
    color: #fff;
    background: #0f2951;
    transition-duration: 0.6s;
}
.contact_information .map_adrs{
    width: 100%;
    border: 3px solid #ccc;
    display: flex;
}
.feedback_fourm{
    width: 60%;
    margin: 0 auto;
    padding: 30px 35px;
    margin-top: 30px;
    background: #e6e6e6;
}
.feedback_fourm input{
    width: 100%;
    height: 40px;
    margin-top: 15px;
}
.feedback_fourm input[type="text"],
.feedback_fourm input[type="email"]{
    padding-left: 8px;
}
.feedback_fourm textarea{
    width: 100%;
    height: 80px;
    margin-top: 15px;
    padding-left: 8px;
}
.feedback_fourm button{
    margin-top: 15px;
    width: 120px;
    height: 35px;
}


/******* R&D Page ***********/

.r_and_d_part{/*
    background: #ececec;*/
    box-shadow: 0px 4px 10px #ccc;
}
.r_and_d_part .boder{
   background: rgba(212, 212, 212, 0.95);
    padding: 30px;
    margin: 30px;
}
.r_and_d_part .over_view{
    background: rgba(44, 56, 74, 0.95);
    padding: 25px 35px;
    color: #fff;
    border: 1px solid #fff;
}
.r_and_d_part .over_view h2{
    font-size: 26px;
}
.r_and_d_part .rd_image{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.r_and_d_part .rd_image img{
    max-width: 100%;
}
.rd_catgories{
    background: #fff;
    padding: 40px 0px;
}
.rd_box{
    margin-top: 30px;
    padding:0px 20px;
    background: #efeeee;
}
.rd_bx_image{
    
}
.rd_bx_image img{
    max-width: 100%;
}
.rd_bx_cont{
}
.rd_bx_cont h3{
    text-transform: uppercase;
    font-size: 18px;
}
.rd_bx_cont p{
    margin-top: 20px;
    color: #6c6c6c;
    text-align: justify;
    line-height: 26px;
}
.rd_bx_cont span{
    width: 100%;
    color: #4c4c4c;
    display: block;
}
.rd_catgories h1{
    text-align: center;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.r_and_d_part .over_view ul{
    
}
.r_and_d_part .over_view ul li{
    padding: 10px 0px;
}


/********* Career *********/

.career_part{
    
}
.vacancy{
    
}
.vacancy .descrip{
    padding: 30px;
    width: 80%;
    background: #fff;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 20px;
    box-shadow: 0px 0px 47px #ccc;
}
.curent_vacancy{
    padding: 30px 0px;
    display: inline-block;
}
.curent_vacancy h1{
    text-align: center;
    margin: 0;
    padding: 15px 0px;
    font-size: 24px;
}
.cur_vac_box{
    border: 1px solid #000;
    padding: 30px;
    border-radius: 10px;
}
.cur_vac_box h3{
    margin: 0;
    margin-bottom: 20px;
}
.cur_vac_box p{
    margin-left: 25px;
    line-height: 24px;
    margin-bottom: 0;
}
.cur_vac_box h4{
    
}
.form_part{
    background: url('../images/banner-career.jpg') center no-repeat;
    background-attachment: fixed;
}
.upload_resume{
    width: 70%;
    margin: 0 auto;
    padding: 30px 0px;
}
.upload_resume h1{
    text-align: center;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
}
.upload_resume form{
    padding: 30px;
    background: rgba(0, 0, 0, 0.35);
    width: 80%;
    margin: 0 auto;
}
.upload_resume form input{
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
.upload_resume form input[type="text"],
.upload_resume form input[type="email"]{
    padding-left: 8px;
}
.upload_resume form textarea{
    width: 100%;
    height: 110px;
    margin-top: 20px;
    padding-left: 8px;
    padding-top: 8px;
}
.upload_resume form select{
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    line-height: 25px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    margin-top: 0;
}
.upload_resume form button{
    width: 120px;
    height: 35px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

/************ Banner Slider **********/

.banner_wrap{
    width: 100%;
    position: relative;
}
#banner_wrap{
    height: 550px;
}

.text{
    position: absolute;
    z-index: 9;
}
.text span{
	color: #00BF5C;
	font-weight: bold;
}

/********** Training Page *******/

.training_part{
    background: #fff;
    box-shadow: 0px 4px 10px #ccc;
    padding-top: 20px;
}
/*@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}*/
.training_part .over_view{
    padding: 30px 20px;
}
.training_part .over_view h2{
    text-align: center;
}
.training_catgories{
    
}
.training_form p{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.training_form h1{
    font-size: 30px;
}
.train_bg{
    background: url('../images/train_bg.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/********** Sub menu *******/
.service{
    position: relative;
}
ul.sub_menu{
    display: none;
    background: #fff;
    width: 345px;
    position: absolute;
    top: 130px;
}
ul.sub_menu li{
    display: list-item;
    list-style: none;
}
ul.sub_menu li a{
    display: block;
    color: #6c6c6c;
}






/************* Responsive  *******************/


@media only screen and (min-width:992px) and (max-width:1199px) {
    .main_menu ul li a{
        padding: 10px 10px;
    }
    .streamline_cont{
        background-size: 80%;
    }
    .streamline_cont .content_box{
        margin-top: 120px;
    }
    .training_ads{
        margin-left: 100px;
    }
    .about_part .content_box .about_img{
        width: 47%;
    }
}

@media only screen and (min-width:768px) and (max-width:991px){
    .footer_menu ul li a{
        padding: 8px 9px;
    }
    .foot_logo{
        width: auto;
    }
    .main_menu ul li a{
        padding: 10px 12px;
    }
    .main_menu{
        margin-top: 20px;
    }
    .top_contact{
        top: 50px;
    }
    .top_contact a{
        font-size: 14px;
    }
    .streamline_cont .content_box{
        width: 80%;
    }
    .streamline_cont{
        background-size: contain;
    }
    .banner .caption h3{
        font-size: 35px;
    }
    .banner .caption h2{
        font-size: 50px;
    }
    .banner .caption h5{
        font-size: 20px;
    }
    .portfolio_gallery .gallery_box .overlay h3{
        margin-top: 35px;
        font-size: 16px;
    }
    .portfolio_gallery .gallery_box .overlay span{
        font-size: 12px;
    }
    .about_part .content_box .about_img{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    .about_part  .content_box .boder{
        width: 100%;
        background: none;
        margin-right: 0;
        float: none;
        padding-top: 5px;
    }
    .upload_resume{
        width: 90%;
    }
}
.branch{
    float: left;
}
@media only screen and (max-width:767px){
.banner .service_menu .bar_parent span i{
     right:-74px;
}
.branch{
    float: none;
}
    .nav_triger{
        display: block;
    }
    .logo{
        float: none;
        margin: 0 auto;
    }
    .top_contact{
        position: static;
        text-align: center;
        margin-top: 10px;
    }
    .top_contact a{
        font-size: 14px;
        line-height: 30px;
        display: inline-block;
    }
    .top_contact span{
        font-size: 14px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .main_menu{
        margin-top: 30px;
        display: none;
    }
    .main_menu ul li{
        display: block;
        text-align: center;
    }
    .right_contact_menu{
        float: none;
    }
    .main_menu ul li a{
        display: block;
    }
    .streamline_cont{
        background-size: cover;
        background-position-x: -370px;
    }
    .streamline_cont .content_box{
        width: 95%;
    }
    .training_ads{
        margin-top: 100px;
        text-align: center;
    }
    .footer_menu ul{
        padding-left: 0;
    }
    .footer_menu ul li{
        display: block;
    }
    .footer_menu ul li a{
        display: block;
        padding: 6px 0px;
    }
    .foot_logo{
        margin: 0 auto;
    }
    .foot_adrs{
        float: none;
        text-align: center;
        margin-top: 20px;
    }
    .foot_content{
        padding: 10px 0px;
    }
    .social_media{
        float: none;
        text-align: center;
    }
    .copy{
        float: none;
        text-align: center;
    }
    .powered{
        text-align: center;
        float: none;
        line-height: 35px;
    }
    .copy p{
        margin-bottom: 0;
        line-height: 35px;
    }
    .career_ads{
        float: none;
        margin: 0;
        text-align: center;
        margin-top: 80px;
    }
    .career_ads a{
        float: none;
    }
    .service_button{
        display: inline-block;
        background: #0f94d4;
        right: -93px;
        width: auto;
        transform: rotate(90deg);
        transform-origin: left top 0;
    }
    .service_button a{
        color: #fff;
        display: block;
        /**/
    }
    .banner .service_menu ul{display: none;}
    .banner .caption h3{
        font-size: 26px;
    }
    .banner .caption h2{
        font-size: 40px;
    }
    .banner .caption h5{
        font-size: 18px;
    }
    .about_part .content_box .about_img{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    .about_part  .content_box .boder{
        width: 100%;
        background: none;
        margin-right: 0;
        float: none;
        padding-top: 5px;
    }
    .r_and_d_part .rd_image{
        width: 100%;
    }
    .cur_vac_box{
        margin-top: 20px;
    }
    .upload_resume{
        width: 90%;
    }
    .upload_resume form{
        width: 100%;
    }
    .feedback_fourm{
        width: 80%;
    }
    ul.sub_menu{
       position: static;
       display:none !important;
    }
    .banner .service_menu .bar_parent span{
              right: 0px;
          z-index: 999999999;
              width: 30px;
     }
}
@media only screen and (max-width:480px){
    .mobile_gallery{
        width: 100%;
    }
    .portfolio_gallery .gallery_box .overlay h3{
        margin-top: 50px;
    }
    .service_button{
        display: block;
    }
    .banner .service_menu{
        top: 0px;
        overflow-y: scroll;
    }
    .about_part .content_box .about_img{
        width: 100%;
    }
    .about_part  .content_box .boder{
        width: 100%;
        padding: 0px;
    }
    .upload_resume{
        width: 100%;
    }
    .upload_resume form{
        width: 100%;
    }
    .feedback_fourm{
        width: 100%;
    }
    .banner .caption h2{
        letter-spacing: 2px;
    }
    .streamline_cont .content_box{
        width: 100%;
    }
.r_and_d_part .boder{
     margin:30px 0px;
         padding: 5px;
}
.r_and_d_part .over_view{
      padding: 25px 10px;
}
}
@media only screen and (max-width:380px){
    .foot_logo{
        width: auto;
    }
}

.slider__caption{
    font-size: 30px;
    box-shadow: none;
    background: rgba(0, 47, 68, 0.74);
}
.mobile_view{
    display: none;
    text-align: center;
    list-style: none;
    padding-left: 0;
    padding: 25px 10px;
    color: #fff;
    background: #0f2a53;
}
.mobile_view li{
    padding: 0 0 25px 0;
}
.training_part .over_view p{
    text-align: center;
    line-height: 26px;
    padding: 30px 0px;
    font-size: 16px;
}
@media only screen and (max-width:580px){
    .mobile_view{
        display: block;
    }
    .rd_image{
        display: none;
    }
    .training_part .over_view{
        padding-top: 0; 
    }
}

/********** Scroll Style *******

.scroll {
   overflow-y: scroll;
    cursor: pointer;
}
.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
*****/
/********* Pagination *******/

.pagination{
    margin: 0 auto;
    display: table;
}
.demo-gallery span{
    display: none;
}
.demo-gallery .page_active{
    display: block;
}
.pagination a.active{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.lg-sub-html h4{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.lg-sub-html p{
    font-size: 14px;
}

.portfolio_gallery .intro{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0px
}
.portfolio_gallery .intro p{
    line-height: 28px;
    font-size: 16px;
    text-align: center;
}
.associates{
    padding: 50px 0px;
}
.associates p{
    line-height: 28px;
    font-size: 16px;
    text-align: center;
}
.associates ul{
    padding: 20px 0px;
}
.associates ul li{
    padding: 5px 0px;
    list-style: square;
}